.main {
  flex: 1;
  padding: 20px;
  position: relative;
  font-family: "Times New Roman", serif;

  /* FIXED PATH */
  .welcome-image {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  margin-top: 80px;
  background-size: cover;
  background-position: center;
}


  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.profile-icon {
  width: 70px;
  height: 70px;
  background: rgba(255,255,255,0.7);
  border-radius: 50%;
  position: absolute;
  top: 20px;
  right: 40px;
  cursor: pointer;
}

.profile-text {
  position: absolute;
  top: 95px;
  right: 40px;
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
  color: black;
}

.welcome-text {
  text-align: center;
  margin-top: 180px;
  font-size: 50px;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 6px black;
}
