.login-body {
  background: url('https://media.istockphoto.com/id/1455668147/photo/zero-waste-net-zero-concept-carbon-neutral-climate-neutral-long-term-strategy-sustainable.jpg?s=612x612&w=0&k=20&c=YBrE2lS9cmI2n0ELPYFNCNtZ9feyMV-N9sCrJi4LWNg=')
  center/cover no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Times New Roman", serif;
}

.container{
  width: 480px;
  background: rgba(255,255,255,0.85);
  border-radius: 30px;
  padding: 30px;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.3);
}

.logo-box { text-align:center; margin-bottom:15px; }
.logo-box img { width:70px; border-radius:50%; }

table td { font-size:20px; font-weight:bold; color:rgb(60,60,60); }

.b input{
  width:200px;
  text-align:center;
  padding:7px;
  border:none;
  background-color:rgb(221,239,239);
  border-radius:20px;
}

#button{
  color:white;
  font-size:18px;
  padding:8px 20px;
  background-color:rgb(155,236,24);
  border:none;
  border-radius:30px;
  margin-top:20px;
  cursor:pointer;
  font-weight:bold;
}

#button:hover{ background-color:crimson; box-shadow: 0 0 20px rgba(0,0,0,0.4); }

.role-select{ margin-bottom:20px; text-align:center; }

select{ width:200px; padding:7px; border-radius:15px; border:1px solid #777; background:#e6e6e6; font-size:16px; }

.signup-link { color: rgb(155,236,24); cursor:pointer; font-size:19px; }
