.signup-body {
  background: url('https://media.istockphoto.com/id/1455668147/photo/zero-waste-net-zero-concept-carbon-neutral-climate-neutral-long-term-strategy-sustainable.jpg?s=612x612&w=0&k=20&c=YBrE2lS9cmI2n0ELPYFNCNtZ9feyMV-N9sCrJi4LWNg=')
  center/cover no-repeat;
  width:100%;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  font-family:"Times New Roman", serif;
}

.form-container {
  width:500px;
  background:rgba(255,255,255,0.8);
  padding:30px;
  border-radius:25px;
  box-shadow:0 0 15px rgba(0,0,0,0.2);
  text-align:center;
}

.logo-section{ display:flex; align-items:center; justify-content:center; margin-bottom:15px; }
.logo{ width:60px; margin-right:10px; }

.role-select{ text-align:left; margin-bottom:15px; font-size:16px; }

select,input,textarea {
  width:100%;
  padding:10px;
  margin-top:5px;
  margin-bottom:15px;
  border-radius:5px;
  border:1px solid #aaa;
  font-size:16px;
}

.form-row { display:flex; gap:10px; }
.form-row input { width:100%; }

button { width:100%; padding:12px; background:#88c7a8; border:none; border-radius:8px; font-size:18px; cursor:pointer; }
button:hover{ background:#6caf90; }
